.padding {
    padding-bottom: 0px;
}

.fondoContacto {
    background-image: url("../Assets/Imgs/rosario36.jpg");
    background-repeat: $background-repeat-general;
    background-size: $background-size-general;
    height: $variable-general;
}

.formulario {
    text-align: center;
}

.fondoForm {
    background-color: azure;
    color: rgb(0, 0, 0);
    font-family: 'Noto Sans Mono', monospace;
}

textarea {
    font-size: 1.5rem;
}

 

.enlaceInfo {
    a {
        color: #000000;
        font-weight: bold;
        font-style: italic;
    }
}