.fondoTop5 {
    background-image: url("../Assets/Imgs/rosario33.jpg");
    background-repeat: $background-repeat-general;
    background-size: $background-size-general;
    height: $variable-general;
}

.ubicacionTop5 {
    /**aplico grids**/
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "top1   top2  "
        "top3   top4  "
        "top5   .   "
    ;
    gap: 10px;
 }
article p{
    text-align: left;
}
.top1 {
    grid-area: top1;
}

.top2 {
    grid-area: top2;
}

.top3 {
    grid-area: top3;
}

.top4 {
    grid-area: top4;
}

.top5 {
    grid-area: top5;
}
